<html>
    <head>
    
    </head>
    
    
    <body>
        <div style="background-color:gray" width=100%>
            <h1 style="text-align:center">Hello, this is about me page</h1>
            <%= "go to" %>
            <%= link_to "homepage", root_path %>
            <br/>
            <img src="https://lh3.googleusercontent.com/l6JAkhvfxbP61_FWN92j4ulDMXJNH3HT1DR6xrE7MtwW-2AxpZl_WLnBzTpWhCuYkbHihgBQ=s640-h400-e365"/>
        </div>
        <div>
            <p>as you can se, i'm fabulous gray cat</p>
        </div>
        
        <div style="background-color:gray" width=100%>
            <p>footer</p>
        </div>
    
    
    


    </body>
</html>