
<div class="center jumbotron jumbotron-fluid">

  <h1 class="shadow">Alpha Blog</h1>
  <!-- <%= link_to "sign up", "#" %> -->
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
  <p><%= link_to "sign up", "#", class: "btn btn-success btn-lg btn-gray", role: "button" %></p>

</div>
