

@import "bootstrap-sprockets";
@import "bootstrap";



#logo {
 float: left;
 font-size: 1.7em;

 text-transform: uppercase;
 letter-spacing: -1px;
 font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


.navbar {
    margin-bottom: 0px;
}

.center {
  text-align: center;
}

.jumbotron {
  background: asset-url("abstract.jpg");
  background-size: cover;
  margin-bottom: 0px;
  height: 300px;
}


.jumbotron h1 {
  text-align: center;
  font-weight: bold;
}

.btn-gray {
  background-color: #2b2c2d;
  margin-top: 30px;
  
}

.article-actions {
  border-top: 1px dashed gray;
  padding-top: 5px;
}

.description {
 margin-top: 5px; 
 color: lightgray;
}

.article-title {
  font-weight: bold;
  font-size: 1.4em;
}

.article-body {
  border-top: 1px dashed gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.shadow {
 text-shadow: 0px 0px 7px lightgray; 
}

.with-bg {
  background: asset-url("abstract.jpg");
  background-size: cover;
  height: 100px;
  margin-bottom: 20px;
}

.with-bg .big {
 font-size: 3em; 
 font-weight: bold;
}

.well {
 background-color: lightgray; 
}

.control-label {
 color: lightgray; 
}

footer {
  padding-top: 5px;
  background-color: #2b2c2d;
  color: lightgray;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0;
  width: 95%;
  border-top: 1px dashed gray;

}

footer a:hover{
  color: #fff;
}

footer small {
 float: left; 
  padding-left: 10px;
}

footer ul {
 float: right;
 list-style: none;
 padding-right: 10px;
}

footer ul li {
 float: left;
 margin-left: 15px;
}

html { 
  background-color: #2b2c2d;
  position: relative;
  min-height: 99%;
}

body {
 padding-top: 50px; 
 padding-bottom: 30px;
 background-color: #2b2c2d;
}



	
code,
kbd,
pre,
.img-rounded,
.img-thumbnail,
.img-circle,
.form-control,
.btn,
.btn-link,
.dropdown-menu,
.list-group-item,
.input-group-addon,
.input-group-btn,
.nav-tabs a,
.nav-pills a,
.navbar,
.navbar-toggle,
.icon-bar,
.breadcrumb,
.pagination,
.pager *,
.label,
.badge,
.jumbotron,
.thumbnail,
.alert,
.progress,
.panel,
.well,
.modal-content,
.tooltip-inner,
.popover,
.popover-title,
.carousel-indicators li {
    border-radius:0 !important;
}