
  <footer class="footer">
    <small>Copyright &copy; Paniczuś</small>

    <nav>
      <ul>
        <li><%= link_to "", about_path, class: "glyphicon glyphicon-user" %></li>
        <li><%= link_to "about2", about_path %></li>
        <li><%= link_to "about3", about_path %></li>
      </ul>
    </nav>  
  </footer>
